:root {
    --clr-neon: hsl(24, 100%, 50%);
    --clr-bg: hsl(30, 100%, 60%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat Subrayada', sans-serif;
}
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    border: 5px solid orange;
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: absolute;
}
.innerHeader {
    overflow: hidden;
    width: 800px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logoContainer {
    height: 100%;
    display: table;
    float: left;
}
.logoContainer h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
}
.logoContainer h1 span {
    font-weight: 800;
}
.navigation {
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}
.navigation a:last-child {
    padding-right: 0;
}
.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
}
body {
    text-transform: uppercase;
    background: black linear-gradient(180deg, rgba(29, 29, 31, 1) 3%, rgba(227, 136, 20, 1) 100%);
    font-family: 'Montserrat Subrayada', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}
section {
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-bottom: 80px;
}
.container {
    background: black linear-gradient(180deg, rgba(29, 29, 31, 1) 3%, rgba(227, 136, 20, 1) 100%);
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 50%;
    max-width: 100%;
    border: 25px solid black;
    margin: auto;
    padding: 10px;
    position: relative;
    font-family: 'Montserrat Subrayada', sans-serif;
}
.bodyHeader {
    border: 15px solid black;
    border-radius: 20px;
    background-color: #101010;
    padding: 20px 40px;
    color: white;
}
.bodyHeader h2 {
    margin: auto;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
}
.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
}
.form-control input {
    border: 9px solid black;
    border-radius: 15px;
    display: block;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background-color: #101010;
    color: white;
}
.form-control input:focus {
    outline: 0;
    border-color: orange;
    transition: 0.7s;
}
.form-control.success input{

    border-color: #2ecc71;
    transition: 0.7s;
}
.form-control.red input{
    border-color: #e74c3c;
    transition: 0.7s;
}
.form-control.blue input{
    border-color: dodgerblue;
    transition: 0.7s;
}
.form-control.error input {
    border-color: #e74c3c;
    transition: 0.7s;
}
.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
    transition: 0.7s;
}
.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
    transition: 0.7s;
}
.form-control.red i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
    transition: 0.7s;
}
.form-control.red i.fa-exclamation-circle {
    color: dodgerblue;
    visibility: visible;
    transition: 0.7s;
}
.form-control small {
    float: right;
    color: black;
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
.form-control.error small {
    visibility: visible;
    transition: 0.7s;
}
.form-control.red small {
    visibility: visible;
    transition-delay: 0.7s;
}
.form-control.blue small {
    visibility: visible;
    transition-delay: 0.7s;
}
.form button {
    position: relative;
    background-color: #101010;
    border-radius: 20px;
    border: 15px solid black;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-family: inherit;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    transition-delay: 0s;
}
.form button:hover {
    border-radius: 10px;
    border: 10px solid black;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    background-color: orange;
}
.form button.invalid:focus {
    border: 10px solid black;
    background-color: red;
    transition: 1s;
}
.form button.valid:focus{
    border: 10px solid black;
    background-color: #2ecc71;
    transition: 1s;
}
footer {
    width: 100%;
    height: 135px;
    display: block;
    background-color: #101010;
    border: 5px solid orange;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-topright: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}









